//template
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Product List</h1>
        <ul class="list-group">
            <li th:each="product : ${products}" class="list-group-item">
                <span th:text="${product.name}">Product Name</span>
                - <span th:text="${product.category}">Category</span>
                - <span th:text="${product.price}">Price</span>
            </li>
        </ul>
    </div>
</body>
</html>