<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Order List</title>
</head>
<body>
	<div class="container mt-4">
<h1 th:text="${message}"></h1>
	<!--Table-->
	<table class="table table-bordered">
	<!--Table Heading-->
	<thead>
		<tr>
			<th>Order ID</th>
			<th>Order Date</th>
			<th>Order Status</th>
			<th>Product</th>
		</tr>
	</thead>
	<!--Table Body, using LOOP-->
	<tbody>
		<tr th:each="order : ${orders}">
			<td th:text="${order.id}"></td>
			<td th:text="${order.orderDate}"></td>
			<td th:text="${order.status}"></td>
			<td th:text="${order.products}"></td>
	</tbody>
	</table>
</div>
</body>
</html>